@{
    ViewData["Title"] = "Home";
}


<!-- Widget Start -->
<div class="content">
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-line fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total Students Enrolled</p>
                        <h6 class="mb-0">5</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-solid fa-graduation-cap fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Cultivating the Future since</p>
                        <h6 class="mb-0">2002</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-regular fa-calendar fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Campus Events</p>
                        <h6 class="mb-0">Year Round!</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-solid fa-map fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Located In</p>
                        <h6 class="mb-0">Kansas City</h6>
                    </div>
                </div>
            </div>
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-md-12">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-around p-4">
                            <i class="fa fa-solid fa-book fa-2x text-primary"></i>
                            <div class="ms-3">
                                <h2 class="mb-2"> Enrollment is open!</h2>
                            </div>
                            <a href="@Url.Action("Index", "Enrollments")" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Enroll Now!</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">About</h6>

                            </div>
                            <p class="p-3">
                                Welcome to Aincrad School, where learning transcends boundaries and knowledge knows no limits. Nestled in the heart of innovation,
                                Aincrad offers a dynamic educational experience that empowers students to explore their potential and shape their futures. Our comprehensive
                                curriculum covers a spectrum of subjects, from foundational courses to advanced studies, providing a solid academic foundation for lifelong
                                success. With a dedicated faculty committed to nurturing intellectual curiosity and fostering critical thinking skills, Aincrad cultivates a
                                vibrant community of learners who thrive in an environment of academic excellence. Join us at Aincrad School and embark on a journey of
                                discovery, growth, and endless possibilities.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Calendar</h6>
                            </div>
                            <div id="calender"></div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<!-- Widget End -->
